* {
    color: ghostwhite;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
}

p {
    font-size: larger;
}

html {
    background-color: 101020;
}

body {
    width: 100vw;
    align-items: center;
}

body > div {
    margin: 50px auto;
    width: min-content;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    place-items: center;
    width: 100%;
}

span {
    display: flex;
}

span > * {
    margin: 10px;
}
